[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
private_key_file = ~/.ssh/incident_key
remote_user = adminuser
deprecation_warnings = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null