services:
  incident-api:
    image: incidentes.azurecr.io/incident-api:latest
    container_name: incident-api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://{{ db_user }}:{{ db_password }}@postgres:5432/{{ db_name }}
      REDIS_URL: redis://redis:6379
    networks:
      - {{ shared_docker_network }}
    depends_on:
      - postgres
      - redis
    restart: always

networks:
  {{ shared_docker_network }}:
    external: true