services:
  incident-api:
    image: incidentes.azurecr.io/incident-api:latest
    container_name: incident-api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: "3000"
      DB_HOST: PostgresSQL
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: "{{ postgres_password }}"
      DB_NAME: "{{ postgres_db }}"
      DATABASE_URL: "postgresql://postgres:{{ postgres_password }}@PostgresSQL:5432/{{ postgres_db }}"
      REDIS_HOST: Redis
      REDIS_PORT: "6379"
      REDIS_URL: "redis://Redis:6379"
      MAPBOX_TOKEN: "{{ mapbox_token }}"
      MAILER_EMAIL: "noreply@incidentapp.com"
      MAILER_PASSWORD: "dummy_password"
      MAILER_SERVICE: gmail
      APPINSIGHTS_CONNECTION_STRING: ""
    networks:
      - {{ shared_docker_network }}
    restart: always
networks:
  {{ shared_docker_network }}:
    external: true